{%- comment -%}
  Parameters:
  - align_start {Boolean} - Align progress bar and text to the start.
  - bar_position {String} - Progress bar position 'top' or 'bottom' (optional, default is 'bottom').

  Usage:
  {% render 'free-shipping-notice', text_start: true %}
{%- endcomment -%}

{%- liquid
  assign minimums_array = settings.free_shipping_minimum | newline_to_br | strip_newlines | split: '<br />'
  assign current_min = nil
  assign show_notice = true

  for min in minimums_array
    assign parts = min | split: ':'

    if parts.size == 2 and parts[0] == cart.currency.iso_code
      assign current_min = parts
      break
    elsif parts.size == 3 and parts[0] == localization.country.iso_code and parts[1] == cart.currency.iso_code
      assign current_min = parts
      break
    endif
  endfor

  if current_min == nil
    assign show_notice = false
  else
    assign minimum_value = current_min | last
    assign free_shipping_minimum = minimum_value | times: 100
  endif

  assign color_scheme = settings.free_shipping_color_scheme
-%}
<div id="free-shipping-notice" class="free-shipping-notice" data-current-total="{{ cart.total_price }}" data-minimum="{{ free_shipping_minimum }}">
  {%- if show_notice and cart != empty -%}
    <div class="free-shipping-container{% unless color_scheme == 'none' %} color-scheme color-scheme--{{ color_scheme }}{% endunless %}">
      <div class="block{% unless align_start %} mx-auto{% endunless %} text-theme-heading">
        <div class="free-shipping-notice__heading mb-2">
          <span class="heading_inner">
            <span class="notice_text">
              {%- if cart.total_price >= free_shipping_minimum -%}
                <strong>You've got free shipping!</strong>
              {%- else -%}
                {%- liquid
                  assign pric_deficit = free_shipping_minimum | minus: cart.total_price | abs
                -%}
                Spend {{ pric_deficit | money }} more to receive free shipping
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#265979" d="m22.32 13.45-.622-2.486a.376.376 0 0 0 .298-.367v-.401a1.58 1.58 0 0 0-1.578-1.578h-2.831V7.79a.778.778 0 0 0-.777-.777h-5.264l3.199-1.28a.376.376 0 0 0-.28-.697l-2.618 1.048c.798-.513 1.588-1.076 1.888-1.47a1.752 1.752 0 0 0-.33-2.453 1.752 1.752 0 0 0-2.453.33c-.428.56-.992 2.136-1.357 3.247-.365-1.11-.93-2.686-1.357-3.247a1.752 1.752 0 0 0-2.453-.33 1.752 1.752 0 0 0-.33 2.453c.3.394 1.09.957 1.888 1.47L4.724 5.037a.376.376 0 1 0-.279.698l3.199 1.28H2.38a.777.777 0 0 0-.777.776v6.814a.376.376 0 0 0 .752 0V7.791c0-.014.011-.025.025-.025h14.43c.014 0 .025.011.025.025v6.814a.376.376 0 0 0 .752 0v-.426h4.434a1.23 1.23 0 0 1 1.168.852h-1.168a.376.376 0 0 0-.376.376v.802c0 .649.528 1.177 1.178 1.177h.425v1.653h-.982a2.384 2.384 0 0 0-2.25-1.603c-1.04 0-1.926.671-2.248 1.603h-.181v-2.83a.376.376 0 0 0-.752 0v2.83H9.038a2.384 2.384 0 0 0-2.249-1.603c-1.04 0-1.926.671-2.249 1.603H2.38a.025.025 0 0 1-.025-.025v-.826h1.628a.376.376 0 1 0 0-.752H.376a.376.376 0 1 0 0 .752h1.227v.826c0 .428.349.777.777.777h2.03v.025a2.383 2.383 0 0 0 2.38 2.38 2.383 2.383 0 0 0 2.38-2.38l-.002-.025h8.47l-.001.025a2.383 2.383 0 0 0 2.38 2.38 2.383 2.383 0 0 0 2.38-2.38l-.001-.025h1.228a.376.376 0 0 0 .376-.376v-4.008c0-.99-.73-1.812-1.68-1.957Z"/></svg>
              {%- endif -%}
            </span>
          </span>
        </div>
        <div class="free-shipping-notice__bar mt-3" style="--progress: {{ cart.total_price | times: 1.0 | divided_by: minimum_value | at_most: 100 }}%"></div>
      </div>
    </div>
  {%- endif -%}
</div>
