{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{% comment %} {% for link in linklists.blogs.links %}
  {% assign blog = link.object %}
  {% for article in blog.articles %}
    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
    <script>
      console.log({{ article | json }});
    </script>
  {% endfor %} 
{% endfor %} {% endcomment %}

{% comment %} // search and replace 'Blog1' with title of first blog and 'Blog2' with title of second... // {% endcomment %}
<table width="100%">
  <tbody>
    <tr>
    <th>Date</th>
    <th>Image</th>
    <th>Article Title</th>
    <th>Blog</th>
    </tr>
    {%- assign featuredArticles = '' | split:',' -%}
    {% assign featuredBlogs = 'News,Second-Blog' | split:',' %}
    {%- for featuredBlog in featuredBlogs -%}
      {%- if blogs[featuredBlog].articles -%}
        {%- if featuredArticles != blank -%}
        {% assign featuredArticles = featuredArticles | concat: blogs[featuredBlog].articles %}
        {%- else -%}
        {% assign featuredArticles = blogs[featuredBlog].articles %}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    <script>console.log('fa', {{featuredArticles}});</script>
    
    

    {%- if featuredArticles -%}
      {%- assign featuredArticles = featuredArticles | sort:'published_at' | reverse -%}
      {%- assign whichblog = "Blog1" -%}{%- if article.url contains '/blog2/' -%}{%- assign whichblog = "Blog2" -%}{%- endif -%}
      {%- for article in featuredArticles -%}
        <tr>
          <td nowrap>{{ article.published_at | date: "%Y-%m-%d" }}</td>
          <td>{% if article.image %}<a href="{{ article.url }}"><img src="{{ article.image.src | img_url: '75x40' | crop: 'center' }}" alt="{{ article.image.alt }}" loading="lazy"></a>{% endif %}</td>
          <td><a href="{{ article.url }}">{{ article.title }}</a></td>
          <td><strong>{% if whichblog == "Blog1" %}<a href="/blogs/{{ 'Blog1' | handleize }}"></a>{% else %}<a href="/blogs/{{ 'Blog2' | handleize }}"></a>{% endif %}</strong></td>
        </tr>
      {%- endfor -%}
    {%- endif -%}
  </tbody>
</table>



{% assign combinedItems = '' | split: ',' %}

{% for link in linklists.blogs.links %}
  {% assign blog = link.object %}
  
  {% for article in blog.articles %}
    {% assign articleJson = article | json | append: ',' %}
    {% comment %} {% assign combinedItems = combinedItems | append: articleJson %} {% endcomment %}
    {% capture combinedItems %}{{ articleJson }}{% if forloop.forloop.last != true %}{% endif %}{{ combinedItems }}{% endcapture %}
  {% endfor %} 
{% endfor %}



{% comment %} 
{% assign combinedItems = combinedItems | remove_last: ',' %} {% endcomment %}

{% comment %} {% assign combinedArray = combinedItems | split: ',' %} {% endcomment %}
{% comment %} {% assign combinedArray = combinedArray | concat: combinedItems %} {% endcomment %}





{% for item in combinedItems %}
  {% assign item = item | split: ',' | json %}

    {% comment %} <div>huh{{ item.author | raw }}</div> {% endcomment %}
    <script>console.log({{ item }});</script>
    {% comment %} <div>{{ item.id }}</div> {% endcomment %}
{% endfor %}

<script>
  console.log({{ combinedItems | json }});
  {% comment %} console.log({{ combinedArray | json }}); {% endcomment %}
  console.log({{ articleJson | json }});
</script>










  <script>console.log('ba', {{ blog.articles | json }});</script>
  {%- paginate combinedItems by 6 -%}

    <div class="main-blog page-width">
      <h1 class="title--primary">{{ blog.title | escape }}</h1>

      <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
        {%- for article in blog.articles -%}
          
          <div class="blog-articles__article article">
            {%- render 'article-card', article: article, image_height: section.settings.image_height, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
          </div>
        {%- endfor -%}
      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>
  {%- endpaginate -%}
{% comment %} 
{% endfor %} {% endcomment %}


{% schema %}
{
  "name": "All Blogs Rollup",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ],
  "presets": [
    {
      "name": "All Blogs Rollup"
    }
  ]
}
{% endschema %}
